.container {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;

  img {
    max-width: 100%;
  }
}

.contentLeft {
  background-color: black;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  h2 {
    font-weight: 700;
    font-size: 35px;
    color: #1E1E2D;
  }
}
